$bg-dark: mix($brand-light-blue, white, 15%);
$bg-light: mix($brand-light-blue, white, 60%);

body,
.bg-light,
.table> :not(caption)>*>*,
#search-input {
    background-color: $bg-dark !important;
}

.navbar {
    background: $bg-light !important;
    border-bottom: 2px solid $secondary;
    margin-bottom: 1em;
}

.dropdown-menu {
    background: $bg-light !important;
}

// h1 titles are too big by default so we reduce their size, except for the "#palaeoverse-" one
// since it is the package name at the top of the page.
h1 {
    font-size: 1.7rem;
}

#palaeoverse- {
    font-size: 2.5rem !important;
}